.option-menu-container.option-menu-container.option-menu-container--cleanup-menu {
  text-align: center;

  .header {
    color: var(--color-gs00);
    background-color: unset;
    font-weight: 700;
    line-height: 3.8rem;
    text-align: center;
    font-size: 2.2rem;
    width: calc(100% - 2rem);
    position: fixed;
    top: calc(0.8rem + var(--statusbar-height));
    text-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.5);
    padding: unset;
    margin: 0 1rem;
  }

  .option-menu {
    position: absolute;
    top: 4.4rem;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
  }

  .content {
    color: var(--color-gs00);
    background-color: unset;
  }

  .menu-item {
    width: 22rem;
    min-height: 3.6rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10rem;
    font-weight: 600;

    & + .menu-item {
      margin-top: 1rem;
    }

    .content {
      flex-grow: 1;
    }
  }
}
