@import 'components/_toaster';

#bg-call-notice-root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .container .content {
    text-align: center;
    font-variant-numeric: nominal;

    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .secondary {
      color: var(--color-gs00);
      font-size: 1.7rem;
      white-space: unset;
    }
  }
}

@media (prefers-text-size: large) {
  #bg-call-notice-root .secondary {
    font-size: 2.2rem !important;
  }
}

#bg-call-notice {
  @extend %component-toaster;
  background-color: var(--color-gs90);
  color: var(--color-gs00);
}
